@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
    --primary: #333366;
    --secondary: #ffcc33;
    --light: #66CCFF;
    --white: white;
}

@font-face {
    font-family: gothic;
    src: url(../fonts/Century\ Gothic.ttf);
}

@font-face {
    font-family: gothic_Pro;
    src: url(../fonts/GOTHICB.TTF);
}

body {
    background-color: #f9fcfd !important;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    /* letter-spacing: 1px; */
    font-family: gothic;

}


.text-number {
    color: var(--secondary);
    font-size: 75px;
    font-family: gothic_pro;
}

.fixed-btn:hover {
    scale: 1.1;
    transition: 0.5s;
}

.fixed-btn {
    border: 1px solid var(--primary) !important;
    color: var(--white) !important;
    background-color: var(--primary) !important;
    font-family: gothic_pro !important;
    position: relative;
    padding: 10px 20px !important;
    transition: 0.5s;
}



.add-cart-btn {
    border: 1px solid var(--white) !important;
    color: var(--white) !important;
    font-family: gothic_pro !important;
    position: relative;
    padding: 10px 20px !important;
    transition: 0.3s ease;
    margin-block: 5px;
    border-radius: 10px;
}

.add-cart-btn::after {
    content: "";
    border: 1px solid var(--white) !important;
    color: var(--primary) !important;
    font-family: gothic_pro !important;
    background-color: var(--white) !important;
    transition: 0.3s ease;
    background: azure;
    width: 0;
    opacity: 0;
    position: absolute;
    right: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* z-index: -1; */
    overflow: hidden;
    border-radius: 0 100% 100% 0;
}

.add-cart-btn:hover::after {
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0;
    opacity: 1;
    color: var(--primary);
    z-index: -1;
    right: 0;
}

.add-cart-btn:hover {
    color: var(--primary) !important;
    transition: 0.4s ease;
    z-index: 999;
}


.primary-btn {
    border: 1px solid var(--primary) !important;
    color: var(--primary) !important;
    font-family: gothic_pro !important;
    position: relative;
    padding: 10px 20px !important;
    transition: 0.3s ease;
    margin-block: 5px;
}

.primary-btn::after {
    content: "";
    border: 1px solid var(--primary) !important;
    color: var(--white) !important;
    font-family: gothic_pro !important;
    background-color: var(--primary) !important;
    transition: 0.3s ease;
    background: azure;
    width: 0;
    opacity: 0;
    position: absolute;
    right: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* z-index: -1; */
    overflow: hidden;
    border-radius: 0 100% 100% 0;
}

.primary-btn:hover::after {
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0;
    opacity: 1;
    color: var(--white);
    z-index: -1;
    right: 0;
}


.primary-btn:hover {
    color: var(--white) !important;
    transition: 0.4s ease;
    z-index: 999;
}

.heading {
    color: var(--light);
    font-size: 30px;
    text-align: center;
    font-family: gothic_pro;
}

.heading-m {
    color: var(--light);
    font-size: 20px;
    text-align: center;
    font-family: gothic_pro;
}

.para-p {
    font-size: 1.1rem;
    font-family: gothic_pro;
    color: var(--primary);
    /* line-height: normal; */
}

.text {
    font-size: 0.8rem;
    font-family: gothic;
    font-weight: bold;
    color: black;
    /* line-height: normal; */
}

.para {
    font-size: 1.1rem;
    font-family: gothic_pro;
    color: var(--white);
    /* line-height: normal; */
}

.top-header {
    background-color: var(--primary);
    height: 30px;
}


.top-social img {
    width: 23px;
    height: 23px;
}

.top-social a {
    text-decoration: none;
    padding-inline: 5px;
}

.banner-1 {
    background: var(--secondary);
    /* background: url(../images/all/Group\ 44.png); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
}

.sec-2 img {

    /* background: url(../images/all/sec2.png); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    /* position: absolute; */

}

.nav-custom {
    background: var(--secondary) !important;
}

.nav-custom .navbar-toggler {
    border: none;
}

.nav-custom .navbar-toggler:focus {
    box-shadow: none;
}

.nav-custom img {
    width: 150px;
}

.nav-custom li a {
    font-family: gothic_Pro;
    color: var(--primary);
    font-weight: bolder;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    transition: 0.4s all;
}

.nav-custom .navbar-collapse.collapse.show {
    padding-block: 10px;
}

.nav-custom .dropdown-menu.show {
    background-color: var(--secondary);
    border: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.nav-custom li {
    position: relative;
    /* width: fit-content; */
}

.nav-custom .dropdown-menu.show li a:hover {
    scale: none !important;
}

.nav-custom li a:hover {
    scale: 1.04;
    transition: 0.4s;
    background-color: transparent;
}

.nav-custom li a:hover::after {
    content: "";
    border-bottom: 2px solid !important;
    color: var(--primary) !important;
    transition: 0.4s all;
    position: absolute;
    bottom: 0;
    border: 0;
    right: 0;
    left: 0;
    margin-inline: auto;
}

.nav-custom li a:focus {
    color: none !important;
    border: none;
}

.nav-custom .dropdown-toggle::after {
    content: none;
    /* margin: 0 !important; */
    border: 0;
}

.nav-custom .navbar-collapse.collapse.show {
    display: flex;
    justify-content: center !important;
    text-align: center;
}

/* nav css complete */

.banner-heading {
    color: var(--primary);
    font-family: gothic_pro;
    text-align: start;
    font-size: 40px;
    line-height: normal;
}

.banner-heading-sm {
    color: var(--primary);
    font-family: gothic_pro;
    font-size: 30px;
    line-height: normal;
}

.b2-img-1 {
    position: absolute;
    width: 50px;
    top: 25%;
}

.b2-img-2 {
    position: absolute;
    width: 50px;
    top: 5%;
    left: 20%;
}

.b2-img-3 {
    position: absolute;
    width: 100px;
    top: 5%;
    right: 15%;
}

.b2-img-4 {
    position: absolute;
    width: 90px;
    bottom: -18%;
    left: 10%;
    z-index: 9;
}

.b2-img-5 {
    position: absolute;
    width: 70px;
    bottom: -100px;
    right: 25%;
    z-index: 9;
}

.b2-img-6 {
    position: absolute;
    width: 50px;
    bottom: -15px;
    right: 90px;
    z-index: 1;
}

.b-img-1 {
    position: absolute;
    width: 50px;
    top: 5%;
    left: -3%;
}

.b-img-2 {
    position: absolute;
    width: 75px;
    top: 15%;
    right: 42%;
}

.b-img-3 {
    position: absolute;
    width: 75px;
    top: 5%;
    right: -3%;
}

.b-img-4 {
    position: absolute;
    width: 50px;
    bottom: 5%;
    left: -3%;
}

.b-img-5 {
    position: absolute;
    width: 75px;
    bottom: 5%;
    right: 45%;
}

.b-img-6 {
    position: absolute;
    width: 75px;
    bottom: 10%;
    right: 4%;
}



.banner-div-left {
    padding-block: 70px;
}

.banner-div-right {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.banner-div-right img {
    width: 350px;
    object-fit: cover;
    text-align: center;
}

.wave-sec {
    background: url(../images/all/Group\ 45.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 680px;
    /* margin-block: 10px; */
    width: 100%;
    position: relative;
}

.wave-sec .row {
    padding-top: 8%;
}

.wave-ul {
    padding: 18px;
    color: white;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: 0 40px;
}

.wave-ul li {
    font-size: 13px;
    padding-block: 6px;
}

.wave-sun {
    position: absolute;
    top: -50px;
    width: 100px;
}

.wave-cat {
    position: absolute;
    top: 0;
    right: 0;
    width: 125px;
}

.wave-animal {
    position: absolute;
    width: 150px;
    bottom: 0;
}

.rabit-animal {
    position: absolute;
    width: 150px;
    bottom: -45%;
    right: 25%;
}

.rabit-star {
    position: absolute;
    bottom: -30px;
    width: 70px;
    left: 10%;
}

.card-star {
    position: absolute;
    width: 70px;
    left: -75px;
    bottom: 30px
}

.card-star-top {
    position: absolute;
    width: 70px;
    right: -75px;
    top: -30px
}

.card-sec {
    margin-top: 150px;
    margin-bottom: 50px;
}

.cards .card {
    /* backgpxround: url(../images/all/Vector\ 7\ 1.png); */
    height: 250px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 100%;
    background-position: center;
    margin-block: 10px;
    border-radius: 0;
    padding: 0;

}

.cards .card .card-body {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
}

.cards .card-img {
    background: url(../images/all/Vector\ 7\ 1.png);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 100%;
    background-position: center;

}

.card-content {
    position: absolute;
    top: 0;
    margin-block: auto;
    display: flex;
    align-items: center;
    height: 100%;
    /* justify-content: center; */
    text-align: center;
}

/* .cards .card .top::after {
    content: "";
    position: absolute;
    background-color: var(--primary);
    width: 100%;
    left: 0;
    height: 70px;
    border-radius: 100%;
    top: -30px;

}
.cards .card .left::after {
    content: "";
    position: absolute;
    background-color: #333366;
    width: 20px;
    left: -8px;
    height: 100%;
    border-radius: 100%;
    top: 0;

}
.cards .card .right::after {
    content: "";
    position: absolute;
    background-color: #333366;
    width: 20px;
    right: -8px;
    height: 100%;
    border-radius: 100%;
    top: 0;

} */





.rabit-content {
    background-color: #d9d9d9;
}

.rabit-sec {
    width: 100%;
    background-color: #d9d9d9;
    height: 100px;
    position: absolute;
    top: -90px;
    z-index: -1;
}

.rabit-back {
    position: absolute;
    bottom: -60px;
    z-index: -1;
    width: 100%;
}

.cloudother {
    background: url(../images/all/Mask\ group-1\ with\ lines.png) !important;
    /* background: url(../images/all/Group\ 44.png); */
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 1000px !important;
    width: 100% !important;
    position: relative !important;
    background-position: top !important;
    /* overflow: hidden !important; */
}

.cloudsmall {
    background: url(../images/all/Mask\ group-2.png) !important;
    /* background: url(../images/all/Group\ 44.png); */
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 600px !important;
    width: 100% !important;
    position: relative !important;
    background-position: top !important;
    overflow: hidden !important;
    padding-block: 175px;
}

.cloud-65 {
    height: 65%;
    align-items: center;
}

.cloud-35 {
    height: 35%;
    align-items: center;
}

.cloud {
    background: url(../images/all/Mask\ rounded\ with\ lines\ home.png);
    /* background: url(../images/all/Group\ 44.png); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 1150px;
    width: 100%;
    position: relative;
    background-position: top;
    /* overflow: hidden; */
}

.cloud .container {
    height: 100%;
}


.cloud .d-flex .col-md-10 {
    padding-block: 150px;
}

.cloud .rounded-text {
    padding-block: 150px;
    padding-inline: 50px;
    text-align: center;
}


/* .cloud .row{
    padding: 100px;
} */
.section-2 .container {
    display: flex;
    justify-content: center;

}

.cloudsun {
    position: absolute;
    width: 125px;
    top: 8%;
    left: 10%;
}

.cloudanimal {
    position: absolute;
    width: 125px;
    top: 10%;
    right: 6%;
}

.clouddog {
    position: absolute;
    width: 150px;
    top: 350px;
    left: 65px;
}

.cloudflower {
    position: absolute;
    width: 125px;
    top: 550px;
    right: 80px;
}

.mini-footer {
    background: url(../images/all/Vector\ 17.png);
    /* background: url(../images/all/Group\ 44.png); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    position: relative;
    background-position: top;
    /* overflow-x: hidden; */
}

.mini-footer-sec {
    height: 220px;
}

.footer {
    background: url(../images/all/Mask\ group.png);
    /* background: url(../images/all/Group\ 44.png); */
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 250px; */
    width: 100%;
    background-position: top;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* position: absolute;
    top: -150px; */
}

.footer img {
    width: 150px;
    height: 60px;
    margin-block: 75px;
}

.footer-sec {
    position: relative;
}

.footer-sec .footer-back {
    background-color: var(--primary);
    padding-top: 80px;
    position: absolute;
    width: 100%;
    top: 125px;
}

.footer-nav .dropdown-menu.show {
    display: flex !important;
}

.roboat {
    position: absolute;
    width: 175px;
    top: 0;
    right: 50%;
    z-index: 1;
}


.footer-nav ul li {
    color: white;
    width: fit-content;
    list-style: none;
    margin-block: 10px;
}

.footer-nav .dropdown a::after {
    content: none !important;
}

.f1-icon {
    position: absolute;
    left: 0;
    top: -350px;
    width: 80px;

}

.f2-icon {
    position: absolute;
    left: 120px;
    top: -275px;
    width: 50px;

}

.f3-icon {
    position: absolute;
    left: 120px;
    width: 60px;
    top: -150px;
}

.f4-icon {
    position: absolute;
    left: 0;
    top: -45px;
    width: 60px;
}

.f5-icon {
    position: absolute;
    left: 55px;
    width: 70px;
    top: 65px;
}

.f6-icon {
    position: absolute;
    right: 0;
    top: -350px;
    width: 60px;

}

.f7-icon {
    position: absolute;
    right: 223px;
    top: -95px;
    width: 46px;

}

.f8-icon {
    position: absolute;
    right: 30px;
    width: 124px;
    top: -200px;
}

.f9-icon {
    position: absolute;
    right: 200px;
    top: -270px;
    width: 60px;
}

.f10-icon {
    position: absolute;
    right: 0;
    width: 80px;
    top: 0;
}

.f-star-2 {
    position: absolute;
    right: 160px;
    z-index: 1;
    width: 75px;
    top: 25px;
}

.f-star-1 {
    position: absolute;
    left: 160px;
    z-index: 1;
    width: 75px;
    top: 50px;
}

.core-tabel {
    background: url(../images/all/Vector\ 15.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /* margin-block: 10px; */
    width: 100%;
    position: relative;


}

.core-tabel .table-3-col::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
.core-tabel .table-3-col::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.core-tabel .table-3-col::-webkit-scrollbar-thumb {
    background: var(--secondary);
}



.core-tabel>div {
    display: grid;
    grid-template-columns: repeat(1, auto auto);
    align-items: center;
    padding: 60px !important;
}

.core-tabel .table-3-col {
    display: grid;
    grid-template-columns: repeat(1, 160px auto 160px) !important;
    align-items: center;
    overflow-x: auto;
}

.table-name {
    border-right: 1px solid;
    border-bottom: 1px solid;
    height: 100%;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
}

.table-writer {
    border-left: 1px solid;
    border-bottom: 1px solid;
    height: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
}

.table-sentence {
    border-bottom: 1px solid;
    width: 100%;
    padding-inline: 20px;
    padding-block: 25px;
    height: 100%;
}

.table-star {
    position: absolute;
    width: 100px;
    top: -40px;
    left: 25px;
}

.table-rabit {
    position: absolute;
    width: 150px;
    top: -40px;
    right: -65px;
}

.table-animal {
    position: absolute;
    width: 200px;
    bottom: -100px;
    left: -100px;
}

.table-sec {
    overflow: hidden;
    /* overflow-y: clip; */
    height: fit-content;
    padding-block: 100px;
}

.solutioncloudrobo {
    position: absolute;
    bottom: 10px;
    height: 200px;

}

.table-star2 {
    position: absolute;
    width: 75px;
    bottom: 0px;
    right: -35px;
}

.ylcards {
    margin-block: 40px;
}

.young-learner .ylcards img {
    width: 100px;
    height: 100px;
}

.core-card-other .card {
    height: 100%;
}

.core-card .ylcards,
.core-card .card-header {
    background-color: transparent;
    border: 0;
}

.ylcards .btn {
    position: absolute;
    bottom: -15px;
}

.core-card .card-header {
    background: url(../images/all/Vector\ 15.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.core-card .card-body {
    background: url(../images/all/Vector\ cardcard.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.wave-sec-other .row {
    padding-block: 200px;
}

.livewebinar img {
    float: right;
    width: 300px;
    padding-left: 15px;
}

.livewebinar p {
    text-align: justify;

}

.maker-img img {
    width: 100%;
    height: 250px;
    object-fit: contain;

}

.quickfact-content li {
    color: var(--primary);
    font-size: 1rem;
    font-family: gothic;
    font-weight: bold;
    padding-block: 10px;
    list-style-position: inside;
}

.product-cards {
    padding: 30px !important;
}

.product-cards .card-footer {
    background-color: transparent;
    border: 0;
}

.product-cards .card {
    background: url(../images/all/Vector\ 7.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    border: 0;
    padding: 30px;
    background-size: cover;
}

.rating {
    color: var(--secondary);
}

.testimonial-card .card-body {
    /* background: url(../images/all/testimonial\ icon.png) !important; */
    /* background: yellow !important; */
    background-repeat: no-repeat !important;
    background-position: top !important;
    height: 100% !important;
    border: 0;
    background-size: cover !important;
    position: relative;
    overflow: hidden;
    top: 15px;
    bottom: 15px;

}

.testimonia-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100% !important;
    width: 100% !important;
}

.product-cards .card-body {
    background: url(../images/all/Vector\ img\ bg.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    border: 0;
    background-size: contain;
}

.product-cards .card-body img {
    width: 100%;
}

.free-printable-content ul li {
    padding-block: 15px;
    font-weight: bold;
    color: var(--primary);
    text-transform: uppercase;
}

.free-printable-content .fpl1 {
    position: absolute;
    left: 10;
    top: 0;
    width: 100px;
}

.free-printable-content .fpl2 {
    position: absolute;
    left: 30px;
    width: 150px;
    top: 250px;
}

.free-printable-content .fpl3 {
    position: absolute;
    left: 30px;
    width: 100px;
    top: 650px;
}

.free-printable-content .fpl4 {
    position: absolute;
    left: 10px;
    width: 50px;
    bottom: 750px;
}

.free-printable-content .fpl5 {
    position: absolute;
    left: 30px;
    width: 50px;
    bottom: 450px;
}

.free-printable-content .fpl6 {
    position: absolute;
    left: 10px;
    width: 50px;
    bottom: 0px;
}

.free-printable-content .fpr1 {
    position: absolute;
    right: 30px;
    width: 50px;
}

.free-printable-content .fpr2 {
    position: absolute;
    right: 10px;
    width: 150px;
    top: 250px;
}

.free-printable-content .fpr3 {
    position: absolute;
    right: 30px;
    width: 100px;
    top: 650px;
}

.free-printable-content .fpr4 {
    position: absolute;
    right: 10px;
    width: 50px;
    bottom: 750px;
}

.free-printable-content .fpr5 {
    position: absolute;
    right: 30px;
    width: 50px;
    bottom: 450px;
}

.free-printable-content .fpr6 {
    position: absolute;
    right: 10px;
    width: 50px;
    bottom: 0px;
}

.custome-accordion {
    z-index: 9;
    padding-block: 100px;
    border: 0;
    border-radius: 0;
    --bs-accordion-inner-border-radius: 0 !important;
}

.custome-accordion .accordion-item {
    border: 0;
    background-color: transparent;
}

.custome-accordion .accordion-header {
    padding-block: 10px;
}

.custome-accordion .accordion-body {
    padding-inline: 25px;
    color: var(--primary);
    font-weight: bold;
}

.custome-accordion .accordion-button:focus {
    box-shadow: none;
}

.custome-accordion .accordion-button {
    background-color: var(--primary) !important;
    color: var(--white) !important;
    font-family: gothic_pro;
}

.custome-accordion .accordion-button.collapsed {
    background-color: #ECECEC !important;
    color: var(--primary) !important;
    font-family: gothic_pro;
}

.custome-accordion .accordion-button::after {
    background: none;
    color: var(--primary);
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%2333366" class="bi bi-arrow-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/></svg>');
}

.custome-accordion .accordion-button:not(.collapsed)::after {
    background: none;
    color: var(--white);
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/></svg>');

}

.contact-sec form input::placeholder {
    color: #b1acacbf;
}

.contact-sec form input,
.contact-sec form select,
.contact-sec form textarea {
    border-radius: 0;
    background-color: #F4F2F2;
    color: #b1acacbf;
    padding-inline: 20px;
    margin-block: 8px;
}

.contact-sec form input:focus,
.contact-sec form select:focus,
.contact-sec form textarea:focus {
    box-shadow: none;
    border-radius: 0;
    color: #b1acacbf;
    background-color: #F4F2F2;
    padding-inline: 20px;
    border: 1px solid var(--primary) !important;
}

.contact-sec .form-select {
    --bs-form-select-bg-img: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="%23333366" class="bi bi-arrow-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/></svg>');
}

.checkboxes div {
    width: auto;
}

.yticon {
    width: 60px !important;
    position: absolute;
    left: 40%;
    top: 35%;
}

.slickautoplay .slick-dots {
    display: flex;
    justify-content: center;
    padding: 0;
}

.slickautoplay .slick-dots li {
    list-style: none;
    margin-block: auto;
}

.slickautoplay .slick-dots button {
    background-color: transparent;
    border: 0;
    font-size: 30px;
    color: var(--primary);
}

.slickautoplay .product-cards {
    padding: 15px !important;
}

.slickautoplay .slick-dots .slick-active button {
    background-color: transparent;
    border: 0;
    font-size: 40px;
    color: var(--light);
    margin-bottom: 2px;
}

.autoplay .slick-next,
.autoplay .slick-prev {
    display: none !important;
}

.slick-right-btn {
    font-size: 30px;
    color: var(--primary);
    position: absolute;
    right: -35px;
    top: 50%;
}

.slick-left-btn {
    font-size: 30px;
    color: var(--primary);
    position: absolute;
    left: -35px;
    top: 50%;
}

.founded {
    background-color: var(--primary);
    display: flex;
    align-items: center;
}

.founded-date {
    justify-content: space-between;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 100%;

}

.founded-img {
    width: 100%;
}

.founded-date>div {
    margin-block: auto;
    padding-block: 10px;
    padding: 10px;
}

.hover-css {
    transition: 0.5s;
}

.hover-css:hover {
    transition: 0.5s;
    scale: 1.05;
}

.w-img-1 {
    position: absolute;
    width: 50px;
    top: 100px;
    left: 30%;
}

.w-img-2 {
    position: absolute;
    width: 100px;
    top: 300px;
    left: 200px;
}

.w-img-3 {
    position: absolute;
    width: 80px;
    bottom: 150px;
    right: 20%;

}

.w-img-4 {
    position: absolute;
    width: 60px;
    top: 250px;
    right: 10%;
}

@media (max-width: 992px) {
    .rounded-text {
        padding-block: 50px !important;
        padding-inline: 10px !important;
    }

    .roboat {
        width: 100px;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .product-cards {
        padding: 15px !important;
    }

    .product-cards .card {
        padding: 15px !important;
    }
}

@media (max-width: 768px) {
    .wave-sec {
        background: var(--primary);
        border-radius: 0 200px 0 100px;
    }

    .wave-cat {
        top: -70px;
        z-index: -1;
    }

    .mini-footer-sec {
        height: 270px;
    }
}

@media (max-width: 576px) {
    .core-tabel>div {
        display: grid;
        grid-template-columns: repeat(1, auto auto);
        align-items: center;
    }

    .product-cards {
        padding: 10px !important;
    }

    .product-cards .card {
        padding: 10px !important;
    }

    .f-star-2 {
        position: absolute;
        right: 10px;
        z-index: 1;
        width: 75px;
        top: 50px;
    }

    .f-star-1 {
        position: absolute;
        left: 10px;
        z-index: 1;
        width: 75px;
        top: 40px;
    }

    .wave-animal {
        bottom: -100px;
    }

    .b-img-2 {
        display: none;
    }
}

@media (max-width: 442px) {
    .cloud .d-flex .col-md-10 {
        padding-block: 60px;
    }

    .f1-icon,
    .f2-icon,
    .f3-icon,
    .f4-icon,
    .f5-icon,
    .f6-icon,
    .f7-icon,
    .f8-icon,
    .f9-icon,
    .f10-icon {
        display: none;
    }

    .livewebinar img {
        width: 100%;
    }
}